@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap');
label {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
}

::placeholder {
    color: rgb(196, 190, 233);
    font-family: Barlow, sans-serif;
    font-weight: bold;
    font-size: 16pt;
}

input {
    color: #b4adf0;
    font-family: Barlow, sans-serif;
    font-size: 18px;
    background: rgba(0, 0, 0, 0);
    border-style: none;
    border-bottom: #d2cef0;
    border-bottom-style: solid;
    outline: none;
    border-width: 1px;
}

.input {
    display: flex;
    flex-direction: row;
}

.fileChooser::-webkit-file-upload-button {
    visibility: hidden;
}