.Filters{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 85%;
    margin: auto;
    border-style: solid;
    padding: 10px;
}

.filterSliderPair{
    display: flex;
    flex-direction: column;
    height: 8vh;
    margin: 0;
    width: 50%;
}

.filterSliderPair > p{
    margin: 0;
}

.filterSlider{
    width: 85%;
}