@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap');
label {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;

}
::placeholder{
    color: #887cf5;
    font-family: Barlow,sans-serif;
}


input{
    color: #4637ca;
    font-size: 16px;
    background: rgba(0, 0, 0, 0);
    border-style: none;
    border-bottom: white;
    border-bottom-style: solid;
    outline: none;
    border-width: 1px;
}

.input{
    display: flex;
    flex-direction: row;
}

