.Track {
    width: 95vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    margin: 2vh;
    margin-left: 2vw;
    color: white;
    /* background: ; */
    background: linear-gradient(43deg, rgba(194, 199, 255, 1) 10%, rgba(255, 131, 131, 1) 100%);
    box-shadow: 7px 7px 5px black;
    border-radius: 5px;
    
}
.Track.selected{
    height: 20vh;
    color: black;
    transition: height 0.2s linear;


}
.artistSong {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.artistSong>p {
    margin: 0;
    margin-left: 10px;
}

.albumArtContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 10%;
}

.albumArt {
    display: inline-block;
    height: auto;
    max-height: 85%;
    max-width: 85%;
}

.trackTextInfo {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.length {
    /* position: relative; */
    /* right: 5px; */
}